span.alert {
	font-size: 12px;	
	font-weight: bold;
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
}

span.alert.success {
	color: rgba(14, 126, 10, 0.959);
	
}

span.alert.success.border {
	border: solid 2px rgba(14, 126, 10, 0.959);
	
}

span.alert.error {
	color: rgba(163, 10, 10, 0.966);
}

span.alert.medium {
	font-size: 14px;
}

span.alert.large {
	font-size: 18px;
}

span.alert.xlarge {
	font-size: 22px;
}

span.alert-popup {
	position: fixed;
	top: 0;
	right: 0;
	margin-right: 2rem;
	margin-top: 1rem;
	width: auto;
	height: auto;
	padding: 1rem 1rem;
	background-color: rgb(243, 243, 243);
	backdrop-filter: blur(10px);
	z-index: 100;
}